*.pyc
*.cpython-36.pyc
medical_center_managment/__pycache__/__init__.cpython-36.pyc
medical_center_managment/__pycache__/__init__.cpython-36.pyc/medical_center_managment/__pycache__/__init__.cpython-36.pyc
